/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Side Controls & Tooltips
   ========================================================================== */

[data-tooltip]:not([data-tooltip=""])::before {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  display: flex;
  font-size: 13px;
  left: auto;
  line-height: 18px;
  margin-right: 10px;
  margin-top: -14px;
  max-height: 177px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  right: 100%;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: none;
  top: 50%;
  white-space: nowrap;
}
[data-tooltip]::before, [data-tooltip]::after {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.15s ease-in-out 0s;
  visibility: hidden;
}
#fixed-controls .fxc-row::after, #fixed-controls .fxc-row > span {
  transition: all 0.15s linear 0s;
}
#fixed-controls .fxc-row::after {
  background: #272828 none repeat scroll 0 0;
  border: medium none;
  content: "";
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform: scale(0.1);
  width: 100%;
}
[data-tooltip]:not([data-tooltip=""])::after {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-right: 5px;
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}
[data-tooltip]::before, [data-tooltip]::after {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.15s ease-in-out 0s;
  visibility: hidden;
}
#switch-to-serif-btn {
  font-weight: normal;
}
[data-tooltip]:not([data-tooltip=""]) {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.fxc-row:last-child {
  border-bottom: 0 none;
}
.fxc-row {
  border-bottom: 1px solid #ececec;
  color: #444;
  display: block;
  padding: 20px 0;
  text-align: center;
}
.prev-next-btn {
  display: none;
}
.page-games .prev-next-btn {
  display: block;
}
#fixed-controls {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  border-top: none !important;
  font-size: 20px;
  margin-top: -209px; /* offset the top by 50% of height */
  position: fixed;
  right: 0;
  top: 50%;
  width: 50px;
  z-index: 13;
}
[data-tooltip]:not([data-tooltip=""]) {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
[data-tooltip]:hover:not([data-tooltip=""]) {
  z-index: 3;
}
[data-tooltip]::before, [data-tooltip]::after {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-20px);
  transition: all 0.15s ease-in-out 0s;
  visibility: hidden;
}
[data-tooltip]:not([data-tooltip=""])::before {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  display: flex;
  font-size: 13px;
  left: auto;
  line-height: 18px;
  margin-right: 10px;
  margin-top: -14px;
  max-height: 177px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  right: 100%;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: none;
  top: 50%;
  white-space: nowrap;
}
#all-categories-list li:nth-child(4n+4) [data-tooltip]:not([data-tooltip=""])::before, .article-rect:nth-child(5n+5) .article-rect-img [data-tooltip]:not([data-tooltip=""])::before, .article-rect:nth-child(5n+5) .article-rect-img[data-tooltip]:not([data-tooltip=""])::before {
  left: auto;
  margin-right: 10px;
  right: 100%;
  transform: translateX(-20px);
}
.gt-contributors .avatar::before {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  color: #fff;
  content: attr(title);
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: -14px;
  padding: 10px;
  position: absolute;
  right: 100%;
  text-align: left;
  top: 50%;
  white-space: nowrap;
}
.article-rect-img[data-tooltip]:not([data-tooltip=""])::before, .article-rect-img [data-tooltip]:not([data-tooltip=""])::before, .app-lnk [data-tooltip]:not([data-tooltip=""])::before {
  white-space: inherit;
  width: 250px;
}
#all-categories-list li [data-tooltip]:not([data-tooltip=""])::before, .atb-text [data-tooltip]:not([data-tooltip=""])::before, .article-rect-img[data-tooltip]:not([data-tooltip=""])::before, .article-rect-img [data-tooltip]:not([data-tooltip=""])::before, .gt-info [data-tooltip]:not([data-tooltip=""])::before, .hp-article-info [data-tooltip]:not([data-tooltip=""])::before, .hp-post-pub-info [data-tooltip]:not([data-tooltip=""])::before {
  left: 100%;
  margin-left: 10px;
  margin-right: 0;
  right: auto;
  transform: translateX(20px);
}
#all-categories-list li [data-tooltip]:not([data-tooltip=""])::after, .atb-text [data-tooltip]:not([data-tooltip=""])::after, .article-rect-img[data-tooltip]:not([data-tooltip=""])::after, .article-rect-img [data-tooltip]:not([data-tooltip=""])::after, .gt-info [data-tooltip]:not([data-tooltip=""])::after, .hp-article-info [data-tooltip]:not([data-tooltip=""])::after, .hp-post-pub-info [data-tooltip]:not([data-tooltip=""])::after {
  border-color: transparent #000 transparent transparent;
  border-width: 5px 5px 5px 0;
  left: 100%;
  margin-left: 5px;
  margin-right: 0;
  right: auto;
  transform: translateX(20px);
}
[data-tooltip]:not([data-tooltip=""])::after {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-right: 5px;
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}
#all-categories-list li:nth-child(4n+4) [data-tooltip]:not([data-tooltip=""])::after, .article-rect:nth-child(5n+5) .article-rect-img [data-tooltip]:not([data-tooltip=""])::after, .article-rect:nth-child(5n+5) .article-rect-img[data-tooltip]:not([data-tooltip=""])::after {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
  border-width: 5px 0 5px 5px;
  left: auto;
  margin-right: 5px;
  right: 100%;
}
.app-lnk [data-tooltip]:not([data-tooltip=""])::after {
  margin-top: -45px;
}
.app-lnk [data-tooltip]:not([data-tooltip=""])::before {
  margin-top: -54px;
}
.app-lnk:hover [data-tooltip]:not([data-tooltip=""])::after, .app-lnk:hover [data-tooltip]:not([data-tooltip=""])::before, [data-tooltip]:hover:not([data-tooltip=""])::before, [data-tooltip]:hover:not([data-tooltip=""])::after {
  opacity: 1;
  transform: translateX(0px) !important;
  visibility: visible;
}
#fixed-controls a.fxc-row:hover i.fa {
  color: #FFAF02;
  z-index: 999999;
}
#fixed-controls a.fxc-row {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
/* show/hide certain controls & set offsets based on their presence */
.prev-next-btn {
  display: none;
}
.page-games .prev-next-btn, .page-blogpost .prev-next-btn {
  display: block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* cstm reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea:focus, input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /** Disable orange highlight */
}
/* generic */
body {
  background: #EBEBEB;
}
img {
  max-width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea:focus, input:focus {
  text-rendering: optimizelegibility;
}
[class^='imghvr-'], [class*=' imghvr-'] {
  background-color: #FFFFFF;
}
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
  background-color: #333333;
  font-size: 24px;
  vertical-align: middle;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}
a {
  font-family: inherit;
  outline: 0 !important;
}
h2,h3,h4,h5,h6 {
  font-family: 'Raleway' !important;
  font-weight: 700;
}
h1 {
  color: #A12626; /* red */
  /*color: #404040; subtle grey */
  font-family: 'Roboto' !important;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px rgba(200, 200, 200, .8);
  padding: 10px 0 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 0;
}
.page-games h1 {
  border-bottom: none;
}
h1 .emphasis {
  display: block;
  font-size: 74px;
  text-shadow:4px 6px 2px rgba(200, 200, 200, .8);
  color: #202020;
}
h2 {
  color: #444;
  margin: 30px 0 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
h2 img {
  position: relative;
  top: -4px;
  margin-right: 10px;
}
h3 {
  color: #494949;
  margin: 28px 0 11px;
}
h4 {
  font-size: 22px;
  border-bottom: 1px solid #eee;
}
p, ul {
  line-height: 1.7em;
  margin-bottom: 1em;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
#body-content-container, #list-content-container, #list-content-container p, #row-404-header p, #sitemap-container p {
  color: #333;
  font-family: georgia,serif;
  font-size: 18px;
  line-height: 30px;
  text-rendering: optimizelegibility;
}
#body-container a, #body-content-container a, #body p a {
  color: #333;
  border-bottom: 2px solid rgba(65, 183,217, .6);
}
#body-container a:hover, #body-content-container a:hover, #body p a:hover {
  text-decoration: none !important;
  color: #41b7d9;
  transition: all 0.25s ease-in-out;
}
#body-container .category-container a, #body-container .btn, #body-container .ad-container a, #footer a, #hws-tagline a, #body-container .breadcrumbs li a, #body-container .list-game-card a {
  border: none;
}
#body-content-container ul {
  list-style-type: disc;
}
#body-content-container ul, #body-content-container ol {
  margin-bottom: 1em;
  padding-left: 35px;
}
#body-content-container ul li, #body-content-container ol li {
  margin-bottom: .5em;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
ul.bullet-list {
  list-style-type: disc;
}
.nav li a.bg1, .nav li a.bg2, .nav li a.bg3, .nav li a.bg4, .nav li a.bg5, .nav li a.bg6, .nav li a.bg7, .nav li a.bg8, .nav li a.bg1 a, .nav li a.bg2 a, .nav li a.bg3 a, .nav li a.bg4 a, .nav li a.bg5 a, .nav li a.bg6 a, .nav li a.bg7 a, .nav li a.bg8 a {
  color: #FFFFFF !important;
}
.subnav li a {
  color: #FFFFFF !important;
}
.nav li a.bg1 {
  background-color: #dd1b16;
}
.nav li a.bg2 {
  background-color: #80bd01;
}
.nav li a.bg3 {
  background-color: #f4655f;
}
.nav li a.bg4 {
  background-color: #046dd5;
}
.nav li a.bg5 {
  background-color: #2ca9e1;
}
.nav li a.bg6 {
  background-color: #5b4282;
}
.nav li a.bg7 {
  background-color: #ffa431;
}
.nav li a.bg8 {
  background-color: #6966a5;
}
.nav li a.bg1:hover {
  background-color: #ff413c;
}
.nav li a.bg2:hover {
  background-color: #a6e327;
}
.nav li a.bg3:hover {
  background-color: #ff8b85;
}
.nav li a.bg4:hover {
  background-color: #2a93fb;
}
.nav li a.bg5:hover {
  background-color: #52cfff;
}
.nav li a.bg6:hover {
  background-color: #8168a8;
}
.nav li a.bg7:hover {
  background-color: #ffca57;
}
.nav li a.bg8:hover {
  background-color: #8f8ccb;
}
.nav li a.bg-acc {
  background-color: #000000;
}
.nav li a.bg-acc:hover {
  background-color: #333333;
}
.nav li a.bg-phz {
  background-color: #46C177;
}
.nav li a.bg-phz:hover {
  background-color: #6be59c;
}
.nav li a.bg-dmz {
  background-color: #00BCD4;
}
.nav li a.bg-dmz:hover {
  background-color: #12e4ff;
}
.nav li a.bg-dtvz {
  background-color: #4B484F;
}
.nav li a.bg-dtvz:hover {
  background-color: #706979;
}
.bigtext1 { font-size: 1.1em; }
.bigtext2 { font-size: 1.2em; }
.bigtext3 { font-size: 1.3em; }
.bigtext4 { font-size: 1.4em; }
.bigtext5 { font-size: 1.5em; }
/* reset bootstrap */
ul, ol {
  margin-bottom: 0;
}
/* page specific */
ul.slider-container, ul.sy-list, ul.sy-controls li.sy-prev, ul.sy-controls li {
  list-style-type: none !important;
  padding-left: 0 !important;
}
.container {
  width: 100%;
  max-width: 1300px !important;
}
.fixed-position {
  position: fixed !important;
}
#wrapper {
  padding-top: 100px;
}
#nav li ul.subnav {
  display: none;
}
#nav {
  z-index: 13; /* slider captions use 12 */
}
.box-shadow {
  box-shadow: 0px 0px 7px #999;
}
#header {
  border-bottom: 1px solid #ccc;
}
#top-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 99;
}
#bottom-header {
  position: fixed;
  width: 100%;
  display: block;
  background: #EBEBEB;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 98;
}
.subnav {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 2;
  list-style-type:none;
}
.nav li {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
}
.nav li:hover {
  background: #eee;
}
.nav li a {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  text-decoration: none;
  color: #696969;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  letter-spacing: 1px;
  padding: 0;
}
#nav li a:hover {
  color: #111;
}
.subnav-logo {
  margin-right: 10px;
  width: 58px;
}
.subnav-icon {
  width: 60px;
}
#card-icon {
  width: 68px;
}
#coin-icon {
  width: 63px;
}
#dmz-icon.subnav-logo {
  width: 68px;
}
#acc-icon.subnav-logo {
  width: 50px;
}
#nav-logo-li {
  background: #ddd;
}
#logo {
  margin: 5px 0;
  width: 100%;
  max-width: 230px;
}
#dgz-subnav li {
  width: 16.666667%;
}
#more-subnav li {
  width: 25%;
}
#body-container-overlay {
  display: none;
  opacity: .5;
  background: #222;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
#ad-container-top-hero {
  margin-top: 20px;
}
#body {
  padding-top: 68px;
}
#body-content-container {
  background: #f6f6f6;
  padding: 15px;
}
body.noscroll {
  overflow:hidden;
}
#footer {
  background: #333333;
  padding: 50px 0;
  margin-top: 25px;
}
#footer-logo {
  margin-bottom: 20px;
  width: 150px;
}
.footer-grey-1 {
  color: #747474;
}
.footer-grey-2, #footer a {
  color: #b8b8b8;
}
#footer p, #footer li, #footer a {
  color: #b8b8b8;
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
#footer h5 {
  color: #eee;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .5px;
}
#mc_embed_signup #email {
  padding: 7px 10px;
  vertical-align: middle;
  border: none;
  display: block;
  width: 100%;
  border-radius: 2px;
}
#mc_embed_signup #mc-embedded-subscribe {
  vertical-align: middle;
  border: none;
  display: block;
  width: 100%;
  border-radius: 2px;
  background: #28b62c;
  color: #FFFFFF;
  margin-top: 12px;
}
#footer-nav li {
  margin-bottom: 2px;
}
#footer-nav li a {
  font-weight: 600;
}
#footer-community-container {
  padding-left: 50px;
}
#footer .fa {
  color: #FFFFFF;
}
#social-nav {
  margin-top: 10px;
  text-align: center;
}
#social-nav li {
  display: inline-block;
  margin-right: 25px;
}
#social-nav li a .fa {
  transition: all 0.25s ease-in-out;
}
.fa-facebook:hover {
  color: #3A5795 !important;
}
.fa-twitter:hover {
  color: #55ACEE !important;
}
.fa-google-plus:hover {
  color: #DD4B39 !important;
}
#featured-product-img {
  float: left;
  height: 200px;
  border: 3px solid #eee;
  border-radius: 3px;
  margin-right: 12px;
}
#featured-product-img:hover {
  border-color: #FFAF02;
}
#featured-product-cell a {
  font-size: 14px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
#featured-product-cell a:hover {
  color: #FFAF02;
}
.featured-product-text .label {
  font-size: 16px;
  padding: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/*.featured-product-advertise a {
  color: #777 !important;
  font-size: 12px !important;
}*/
#footer a.popup-advertise_open {
  margin-top: 10px;
  font-size: 16px !important;
  background: #FFAF02;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 4px;
  color: #FFF !important;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
#footer a.popup-advertise_open:hover {
  background: #E33535;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}
.nav-box-shadow {
  box-shadow: #555555;
}
#category-container {
  cursor: pointer;
}
.category {
  border-right: 1px solid #999;
  padding-right: 8px;
}
#toggle-categories {
  color: #999 !important;
}
#toggle-mobile-menu.fa-times {
  color: #E33535;
}
.grey9 {
  color: #999;
}
.category-img-small {
  width: 30px;
}
#bottom-header-categories {
  margin-bottom: 0;
}
#bottom-header-categories li {
  width: 11.111%;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #ddd;
}
#subnav-img-movies, #subnav-img-tv {
  position: relative;
  top: -3px;
}
#bottom-header-categories li:last-child {
  border-right: none;
}
#bottom-header-categories li a {
  display:block;
  color: #333;
  background: #EFEFEF;
  transition: all 0.25s ease-in-out;
  border-radius: 3px;
  text-decoration: none;
}
#bottom-header-categories li a span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-left: 2px;
}
#bottom-header-categories li a:hover {
  text-decoration: none;
  background: rgba(90,90,90,.15);
}
#mobile-nav-container {
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
  top: 78px;
  left: -100%;
  height: 100% !important;
  background: #272727 none repeat scroll 0 0;
}
#mobile-nav {
  width: 60px;
  height: 100%;
}
#mobile-nav li {
  border-bottom: 1px solid #3c3c3c;
  text-align: center;
}
#mobile-nav li.active {
  background: #676767;
}
#mobile-nav li a {
  color: #929292;
  font-size: 12px;
  text-decoration: none;
}
#mobile-nav li.active a.mobile-nav-category {
  color: #FFFFFF !important;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
#mobile-nav li a img {
  display: block;
  margin: 0 auto;
}
.nav-category-img {
  width: 40px;
}
.mobile-nav-category {
  display: block !important;
  color: #666666;
  padding: 8px 0 !important;
}
.h568 .nav-category-img {
  width: 37.5px;
}
.h480 .mobile-nav-category {
  display: block !important;
  color: #666666;
  padding: 4.5px 0 !important;
}
.h480 .nav-category-img {
  width: 34.5px;
}
.ismobile .sub-category-search-icon {
  top: 6.5px;
}
.sub-category-search {
  height: 30px;
  background: url(../img/icons/search.png) center left 4px no-repeat #f2f2f2;
  border: 0;
  padding-left: 20px;
  color: #000;
  width: 100%;
  padding: 0 0 0 26px;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.sub-category-search:focus {
  border-color: #ddd;
}
.mobile-subnav-search-li {
  display: block !important;
  padding: 4px 0 !important;
}
.subnav-reset-btn {
  display: none;
  float: right;
  position: relative;
  top: -20.5px;
  right: 5px;
  font-size: 12px;
  border: none;
  background: transparent;
  background: url('../img/buttons/x-close-btn-12x12.png') no-repeat right top;
  height: 12px;
  width: 12px;
}
.mobile-subnav {
  display: none;
  background: #fff none repeat scroll 0 0;
  overflow-y: auto;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  position: absolute;
  bottom: 0;
  left: 60px;
  right: 0;
  top: 0;
  padding: 0 10px;
  margin-bottom: 78px; /* offset the #mobile-nav-container top margin */
}
#mobile-nav li.active ul.mobile-subnav {
  display: block;
}
#mobile-nav .mobile-subnav li {
  text-align: left;
  border-bottom: 1px solid #dddddd;
  padding: 0;
}
#mobile-nav .mobile-subnav li a {
  display: block;
  color: #000000;
  padding: 10px 0;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
}
.btn {
  color: #FFF !important;
  font-size: 16px;
  font-family: 'Raleway';
  letter-spacing: .25px;
}
.btn:hover {
  box-shadow: 1px 1.5px 2.5px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
}
.btn-buy-now {
  width: 100%;
  margin-top: 10px;
  box-shadow: inset 2px 2px 0px rgba(0,0,0,0.1)
}
.btn-orange {
  background: #FFAF02;
}
.btn-red {
  background: #E33535;
}
.popup {
  display: none;
  width: 300px;
  max-width: 90%;
  background: #F5F5F5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 19px;
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.popup-close-btn {
  float: right;
  background: #333;
  color: #CCC;
  border: 2px solid #333;
  padding: 2px 6px 4px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -20px;
  cursor: pointer;
}
#popup-terms a {
  color: #000;
}
.popup_visible .popup {
  transform: scale(1);
}
.popup-content-container h4 {
  margin-top: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.popup-content-container h4:first-child {
  margin-top: 0;
}
#hws-tagline {
  background: #1D1C1E;
  padding: 3px 0;
}
#hws-tagline, #hws-tagline a {
  color: #767577;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
#hws-tagline a:hover {
  text-decoration: underline;
}
.sy-pager {
  display: none;
}
.sy-caption-wrap, .sy-caption {
  width: 100%;
  border-radius: 0 !important;
  bottom: 0;
  font-family: "Raleway";
  font-size: 19px;
  font-weight: bold;
  letter-spacing: .25px;
}
#sidebar {
  text-align: center !important;
}
.ad-container {
  text-align: center !important;
}
#sidebar .ad-container, #sidebar .facebook-page-container {
  margin-bottom: 35px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.facebook-page-container {
  max-height: 170px;
  overflow: hidden;
}
.ad-container-320{
  position: relative;
  left: -20px;
  margin: 12px auto 2px;
}
.cstm-ad {
  background: #F6F6F6;
  padding: 20px;
}
.round-ad img {
  border-radius: 100%;
  width: 80%;
}
.amazon-products-container, .facebook-page-container {
  border: 20px solid #F6F6F6;
}
#sidebar .adsense-ad-container {
  margin-bottom: 35px;
}
#body-content-container .ad-container {
  background: #FFF;
  padding: 15px 0;
}
p.ad-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .25em;
}
p.ad-description {
  font-size: 1em;
  color: #555;
}
.party-pack-items {
  background: #FFF;
  padding-top: 10px;
}
.party-pack-items li {
  font-weight: bold;
  margin-bottom: 4px;
  width: 49%;
  display: inline-block;
}
.consumption-img {
  height: 30px;
}
ul.game-stats-list {
  list-style-type: none;
  padding-left: 0 !important;
  text-align: center;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
  padding-top: 6px;
  padding-bottom: 6px;
}
ul.game-stats-list li {
  display: inline-block;
  border-right: 1px solid #ccc;
  margin-right: 14px;
  padding-right: 14px;
  line-height: 18px;
  margin-bottom: 0 !important;
}
ul.game-stats-list li.last-visible {
  border-right: 0;
}
.game-stats-list .movie-stats.tv-stats.last-visible {
  line-height: 1.5em !important;
}
#hero-ad-container {
  padding-bottom: 20px;
}
.sidebar-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  background: #FFF;
  padding-left: 44px;
  font-family: "Raleway";
}
.floated-ad-logo {
  float: right;
  position: relative;
  top: 2px;
  right: 2px;
}
#social-like-btns {
  text-align: center;
  margin-top: 25px;
}
#social-like-btns li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
}
/*#social-like-btn-row {
  margin-top: 24px;
}*/
#body-content-container .breadcrumbs {
  list-style-type: none;
  padding-left: 0;
  position: relative;
  top: -6px;
  margin-bottom: 0;
}
.breadcrumbs li {
  display: inline-block;
  margin: 0 !important;
  color: #777;
}
.breadcrumbs li.breadcrumbs-current {
  cursor: help;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:after {
  content: "»";
  color: #bbb;
}
.breadcrumbs li:last-child:after {
  content: "";
}
.breadcrumbs li, .breadcrumbs li a {
  font-size: 15px;
  font-family: "Raleway" !important;
  padding-right: 1px;
}
.breadcrumbs li a {
  background: #ddd;
  padding: 3px 6px;
  color: #777 !important;
  text-shadow: 0px 1px 0px rgba(255,255,255, 0.5);
}
.breadcrumbs li a:hover {
  background: #fff;
  transition: all 0.25s ease-in-out;
  text-decoration: none !important;
}
.breadcrumbs li:hover:after {
  color: #777;
  transition: all 0.25s ease-in-out;
}
#game-meta-info {
  list-style-type: none;
  padding-left: 3px !important;
  background: #FFF;
}
#game-meta-info li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0 !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 4px 0;
}
#game-meta-info li .game-meta-info-label {
  font-weight: bold;
  margin-right: 5px;
}
#game-meta-info li span .fa {
  color: #E33535;
}
#party-pack-ad p {
  margin-bottom:0px !important;
  background: #FFF;
  margin-top: -5px !important;
  padding-top: 6px;
}
#party-pack-ad p.ad-description {
  padding-bottom: 6px;
}
#party-pack-ad figcaption {
  border-radius: 100%;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px !important;
}
#party-pack-ad span.btn {
  text-shadow: none !important;
  margin-top: 15px;
}
#popup-advertise {
  width: 400px;
}
#popup-advertise h4 {
  padding-left: 131px;
}
.form-section-heading {
  padding-left: 255px;
  margin-bottom: 20px;
  font-size: 26px;
}
.form-text, .form-dropdown {
  display: inline-block;
  margin-bottom: 10px !important;
  width: 420px;
  border: 2px solid #aaa;
  padding: 5px 5px;
  color: #666;
  vertical-align: top;
  border-radius: 4px;
}
.form-content-block {
  padding-left: 255px;
}
.popup-content-container .form-text, .popup-content-container .form-dropdown {
  width: 220px;
}
.form-text:focus, .form-dropdown:focus {
  color: #333;
  border-color: #888;
  transition: all 0.15s ease-in-out;
  box-shadow: 1px 1.5px 2.5px rgba(0, 0, 0, 0.3);
}
.form-label {
  display: inline-block;
  width: 250px;
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
  color: #333;
  position: relative;
  top: 4.5px;
}
.popup-content-container .form-label {
  width: 125px;
}
.form-btn {
  margin-left: 129px;
  background: #E33535;
  border: none;
  color: #FFF;
  font-weight: bold;
  padding: 14px 24px;
  border-radius: 4px;
}
.form-btn:hover {
  transition: all 0.15s ease-in-out;
  box-shadow: 1px 1.5px 2.5px rgba(0, 0, 0, 0.3);
  opacity: .8;
}
textarea.form-text {
  height: 80px;
}
.category-container {
  margin-bottom: 20px;
}
.home-category-img {
  background: #FFF;
  opacity: .3;
}
.category-container {
  position: relative;
  text-align: center !important;
  margin-right: 15px;
}
.category-container span {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 26px;
  color: #000;
  font-family: "Raleway" !important;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .75);
  color: #000;
}
.category-container:hover .home-category-img {
  opacity: 1;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
.category-container:hover span {
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.home-category-row p {
  margin-bottom: 0;
  font-size: .9em;
}
.home-category-link {
  padding: 3px 8px;
  margin-top: 3px;
  opacity: .7;
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
}
.home-category-link:hover {
  opacity: 1;
}
#home-sidebar {
  padding-top: 89px;
}
#home-mid-ad-container {
  margin: 55px 0 25px;
}
#recaptcha_widget_div {
  display: inline-block !important;
  width: auto !important;
}
#submit-game-btn {
  padding: 12px 26px;
  margin: 25px auto;
  display: block;
  font-size: 22px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
#submit-game-btn:hover {
  box-shadow: none;
}
#list-category-btns {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 0 0 25px;
  padding: 15px 0;
}
#list-category-btns li {
  display: inline-block;
  margin-right: 8px;
}
#list-category-btns li .btn.active {
  background: #E33535;
}
.list-container, .game-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.list-img, .game-container img {
  float: left;
  height: 200px;
  margin-right: 15px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.list-meta-info {
  font-size: 15px;
  margin-bottom: 2px;
  color: #999;
}
#body-content-container a:hover {
  text-decoration: underline;
}
#body-content-container h3 a {
  color: #494949;
}
#body-content-container h3 span {
  font-family: Arial,georgia,serif;
  background: #FFAF02;
  border-radius: 10px;
  color: #FFF;
  padding: 3px 10px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.list-game-card, .shop-item {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  background: #FFF;
  margin-bottom: 30px;
}
.list-game-card:hover img.list-game-img {
  opacity: .75;
  transition: all 0.15s ease-in-out;
}
.list-category-img {
  display: inline-block;
  height: 24px;
  margin-right: 3px;
  position: relative;
  top: -1px;
}
.list-game-name a {
  display: block;
  background: #444;
  color: #FFF !important;
  font-weight: bold;
  font-family: "Raleway";
  letter-spacing: .5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  padding: 3px 0;
}
.list-game-name a {
  padding-left: 1px;
}
.list-game-meta-info {
  padding-left: 3px;
  white-space: nowrap;
}
.list-game-name, .list-game-meta-info {
  margin-bottom: 0;
}
.list-game-meta-info {
  color: #666;
  font-size: 12px;
}
.list-game-name {
  font-size: .9em;
  height: 30px;
  overflow: hidden; /* cut off text wrapping to prevent breaking flow */
}
.list-game-name .font-small22 {
  font-size: .8em;
}
.list-game-name .font-small26 {
  font-size: .75em;
}
.list-game-name .font-small30 {
  font-size: .7em;
}
.list-game-name .font-small34 {
  font-size: .6em;
}
.nav li.nav-search-container {
  text-align: left;
  padding: 0 50px;
}
#nav-search {
  display: none;
}
.nav-search-container .fa.fa-search {
  vertical-align: middle;
  color: #bbb;
}
#nav-search {
  border-radius: 50px;
  border: 1px solid #999;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway";
  color: #999;
  padding: 8px 8px 8px 45px;
  vertical-align: middle;
  background: url(http://ryanh.fatcow.com/public_html/drinkinggamezone/v3/img/search-icon-25x25.png) top left no-repeat #FFF;
  background-position: left 8px top 6px;
}
#nav-search:focus {
  border-radius: 0;
  transition: all 0.35s ease-in-out;
  border-color: #555;
  color: #555;
}
.autocomplete-suggestion {
  font-size: 16px;
  font-family: "Raleway";
  margin-bottom: 3px;
}
.autocomplete-suggestion b {
  color: #E33535;
}
.nav-search-container .fa.fa-search {
  position: relative;
  top: -1px;
}
#in-page-search {
  background: url(http://ryanh.fatcow.com/public_html/drinkinggamezone/v3/img/search-icon-25x25.png) top left no-repeat #FFF;
  background-position: left 4px top 3px;
  padding-left: 38px;
}
#in-page-search-submit-btn {
  position: relative;
  top: -1px;
}
.ph-row, .mt-row, .movie-stats, .tv-stats {
  display: none !important;
}
.movie-container .movie-stats, .tv-show-container .tv-stats {
  display: inline-block !important;
}
.movie-container #h2-setup, .tv-show-container #h2-setup, .movie-container .game-stats, .tv-show-container .game-stats {
  display: none !important;
}
.movie-container .ad-container, .tv-show-container .ad-container {
  margin-top: 20px;
}
#tags {
  padding-left: 0;
}
#tags li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}
#tags li:last-child {
  margin-right: 0;
}
#tags li a {
  display: block;
  background: transparent;
  border: 2px solid #FFAF02;
  color: #FFAF02;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 16px;
}
#tags li a:hover {
  background: #FFAF02;
  color: #FFF;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  text-shadow: 0px .5px 0px rgba(0, 0, 0, 0.1);
}
#ph-vimeo-iframe {
  width: 100%;
  height: 300px;
}
.equipment-ad a {
  color: #888 !important;
}
.subheading {
  font-weight: bold;
  margin-bottom: 0;
}
#row-404-links {
  text-align:center;
}
#row-404-links img {
  opacity: .9;
}
#row-404-links a {
  display: block;
  border: 15px solid #ccc;
  border-radius: 15px;
  background: #494949;
  color: #FFF;
  font-size: 24px;
  font-family: "Raleway" !important;
  font-weight: 700;
  text-decoration: none;
}
#row-404-links a:hover {
  border-color: #aaa;
  transition: all 0.15s ease-in-out;
}
#row-404-links a:hover img {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}
#row-404-links a span {
  display: block;
  padding: 6px 0 3px;
}
#domo-shot-glass {
  display: block;
  margin: 0 auto;
}
#domo-shot-glass-row {
  margin-bottom: 30px;
}
.tip {
  font-style: italic;
  color: #777;
}
.sa-link, #body-content-container a.sa-link, #body p a.sa-link {
  color: #333;
}
#sitemap-container ul li {
  display: inline-block;
  width: 100%;
}
#sitemap-container ul li ul li {
  display: inline-block;
  width: 25%;
}
#sitemap-container ul li a {
  display: block;
  color: #494949;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  margin: 30px 0 15px;
}
#sitemap-container ul li ul li a {
  display: inline;
  color: #666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.sub-content-block {
  margin-bottom: 15px;
}
.sub-content-block img {
  border: 5px solid #ccc;
  border-radius: 5px;
}
.sub-content-block img:hover {
  border-color: #eee;
  transition: all 0.25s ease-in-out;
}
.in-page-ad-container {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 2px solid #ccc;
  padding: 20px;
  background: #FFF;
}
.in-page-ad-container img {
  float: right;
  width: 50%;
  border: 5px solid #ccc;
  border-radius: 5px;
}
#sitemap-container #tier1 p {
  margin-top: 8px;
  margin-bottom: 6px;
}
.fa-exclamation-triangle {
  color: #FFAF02;
}
.fa-check {
  color: #3C763D;
}
.ad-img-full-width {
  width: 100%;
}
.cstm-banner-ad:hover {
  opacity: .7;
  transition: all 0.25s ease-in-out;
}
#advertise-recaptcha-container {
  margin-bottom: 10px;
}
.g-recaptcha div {
  display: block;
  margin: 0 auto;
}
.cbox-top, .cbox-bottom {
  display: block;
}
.cbox-top {
  height: 300px;
}
.cbox-bottom {
  height: 120px;
}
#chat-label {
  display: block;
  background: #FFF;
  text-align: center;
}
#chat-container {
  display: none;
  z-index: 15;
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 10px #ddd;
}
#chat-close {
  position: absolute;
  top: -18px;
  left: -15px;
  color: #A12626;
  cursor: pointer;
}
#chat-close:hover {
  color: #FFAF02;
  transition: all 0.25s ease-in-out;
}
.list-game-card .fa-video-camera {
  position: absolute;
  color: #888;
  right: 20px;
  top: 33px;
}
.fa {
  cursor: default;
}
.popup_wrapper .popup-close-btn {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .nav-category-text {
    display: none !important;
  }
  #bottom-header-categories li {
    border-right: none;
  }
  #bottom-header-categories li a {
    margin: 0 auto;
    width: 80%;
    background: rgba(90,90,90,.15);
  }
  .text-center-sm {
    text-align: center;
  }
  #party-pack-ad {
    background: #FFF !important;
  }
}
@media (min-width: 992px) {
  .facebook-page-container {
    max-height: 170px;
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  .nav li.nav-search-container {
    padding: 0;
    text-align: center;
  }
  #party-pack-ad {
    background: #FFF;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #body-content-container {
    margin-bottom: 35px;
  }
  .amazon-products-container, .facebook-page-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  /*.h480 #top-header {
    height: 60px;
  }
  .h480 #toggle-mobile-menu {
    top: 9px
  }
  .h480 #mobile-logo {
    left: -10px;
    width: auto;
    height: 58px;
  }
  .h480 #bottom-header {
    margin-top: 60px;
  }
  .h480 #mobile-nav-container {
    top: 60px;
  }*/
  .mobile-block {
    display: block !important;
  }
  #wrapper {
    padding-top: 0;
  }
  #top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: none;
  }
  #bottom-header {
    position: fixed;
    width: 100%;
    display: block;
    background: #EFEFEF;
    margin-top: 78px;
  }
  #body {
    padding-top: 136px;
  }
  #mobile-logo {
    width: 100px;
    margin: 0 auto;
    position: relative;
    left: 6px;
    /*left: -18px;*/
  }
  #toggle-mobile-menu {
    float: left;
    position: relative;
    top: 17px;
    left: 15px;
    color: #999;
    cursor: pointer;
    width: 36px;
  }
  nav {
    background: #CCC;
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 78px;
    left: -100%;
    z-index: 4;
    box-shadow: none;
  }
  #nav {
    width: 100%;
    max-width: 100%;
  }
  .nav {
    position: inherit;
  }
  #nav li {
    display: block;
    width: 100%;
  }
  #nav li {
    position: static;
    border-bottom: 1px solid #ccc;
  }
  .text-center-xs {
    text-align: center;
  }
  .footer-cell {
    margin-bottom: 50px;
  }
  #social-nav li {
    position: relative;
    left: 12px;
  }
  #hws-tagline {
    font-size: 12px;
    /*padding: 10px 0 60px; full controls */
  }
  #sidebar {
    padding: 0;
  }
  h1, h1 .emphasis {
    font-size: 42px;
  }
  h2 {
    font-size: 26px;
  }
  h2 img {
    height: 36px;
    width: auto;
  }
  #body-content-container {
    font-size: 17px;
    letter-spacing: .1px;
  }
  #body-content-container ul {
    list-style-type: disc;
    padding-left: 15px;
  }
  #body-content-container p, #body-content-container li {
    line-height: 27.2px;
  }
  #subnav-img-movies, #subnav-img-tv {
    top: -1px;
  }
  .sidebar-title {
    padding-left: 0px;
  }
  .footer-cell:last-child {
    margin-bottom: 0;
  }
  #fixed-controls {
    margin-top: 0;
    top: auto;
    bottom: 0;
    /*left: 0; full controls */
    right: 0; /* single control */
  }
  #fixed-controls a.fxc-row {
    /*padding: 9px 0; full controls */
    /*width: 20%; full controls */
    /*display: inline-block; full controls */
    display: none; /* single control */
    padding: 9px 12px; /* single control */

    position: static;
    border-right: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #fixed-controls #control-random {
    display: block !important; /* single control */
  }
  #fixed-controls, #fixed-controls a.fxc-row {
    opacity: .8 !important;
  }
  #game-meta-info li {
    font-size: 16px;
  }
  #game-meta-info {
    padding-left: 10px !important;
    text-align: center !important;
  }
  #mobile-advertise-btn {
    margin-top: 20px;
  }
  #mobile-advertise-btn a {
    margin-top: 10px;
    font-size: 16px !important;
    background: #FFAF02;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 4px;
    color: #FFF !important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  #sidebar .ad-container {
    padding: 0 20px !important;
    overflow: hidden !important;
  }
  #sidebar .adsense-ad-container {
    padding: 0 !important;
  }
  #fixed-controls .fxc-row i.fa {
    color: #000;
  }
  #mobile-random-game {
    display: block;
    height: 60px;
    text-align: center;
    float: right;
    position: relative;
    top: 17px;
    right: 12px;
    font-size: 12px;
    line-height: 1.1em;
    color: #ccc;
    font-style: italic;
  }
  #mobile-random-game .fa {
    display: block;
    color: #999999;
    position: relative;
    top: -2px;
  }
  #mobile-random-game span {
    left: -3px;
    position: relative;
  }
  .list-img, .game-container img {
    float: none;
    display: block;
    margin: 0 auto 0;
    width: 100%;
    height: auto;
  }
  .form-section-heading {
    padding-left: 0;
  }
  .form-label, .popup-content-container .form-label {
    text-align: left;
    width: 100%;
  }
  .form-text, .form-dropdown, .popup-content-container .form-text, .popup-content-container .form-dropdown {
    width: 100%;
  }
  .form-btn {
    margin: 10px 0 0;
    width: 100%;
  }
  .form-content-block {
    padding-left: 0;
  }
  #popup-advertise h4 {
    padding-left: 0;
  }
  #in-page-search {
    margin-bottom: 4px !important;
  }
  #in-page-search-submit-btn {
    width: 100%;
    margin-bottom: 10px !important;
  }
  #sidebar .ad-container, #sidebar .facebook-page-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .movie-container .equipment-container, .tv-show-container .equipment-container {
    text-align: center;
  }
  #ph-vimeo-iframe {
    height: 200px;
  }
  .equipment-ad {
    width: 100%;
    margin-bottom: 30px;
  }
  #list-category-btns li {
    display: inline-block;
    width: 50%;
    margin: 0 auto 4px !important;
    padding: 0 10px;
  }
  #list-category-btns li button {
    display: block;
    width: 100%;
  }
  .list-game-meta-info {
    font-size: .75em;
  }
  .in-page-ad-container {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border: 2px solid #ccc;
    padding: 20px;
    background: #FFF;
  }
  .in-page-ad-container img {
    float: none;
    width: 100%;
  }
  .in-page-ad-container h3, .in-page-ad-container p {
    text-align: center;
  }
  .in-page-ad-container .btn {
    display: block;
    width: 100%;
  }
  .sub-content-block img {
    display: block;
    margin: 0 auto 10px;
    float: none !important;
    width: 100%;
    max-width: 450px;
  }
  #party-pack-ad figcaption {
    padding-top: 55px !important;
  }
  ul.game-stats-list li {
    border-right: none;
  }
  .text-center-mobile img {
    display: block;
    margin: 0 auto 10px !important;
    float: none !important;
  }
  .text-center-mobile {
    text-align: center !important;
  }
}
@media (max-width: 400px) {
  .category-cell {
    margin-bottom: 20px;
  }
  .home-category-img {
    height: 125px;
  }
  .category-container span {
    top: 40%;
    line-height: 1.2em;
  }
  .category-container {
    margin-bottom: 0;
  }
  .home-category-link {
    display: block;
    clear: both;
    margin-top: 0;
  }
  #sitemap-container ul li ul li {
    display: inline-block;
    width: 50%;
  }
  #sitemap-container ul li ul li:nth-child(odd) {
    padding-right: 12px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
